*{
    vertical-align: middle;
}

img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
}

input{
    border: none;
    width: 220px;
    padding: 10px;
    font-size: 15px;
}

button{
    background-color: rgb(52, 130, 240);
    border: none;
    border-radius: 20px;
    padding: 8px 18px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}