body{
    height: 3000px;
}

.button-close{
    font-family: Arial;
    background-color: black;
    color: white;
    font-size: 20px;
    position: absolute;
    padding: 10px 15px;
    border-radius: 100%;
    right: 10px;
    top: 10px;
}